[buildout]
develop = . 
parts = instance ropeproject
versions = versions
extends = http://dist.plone.org/release/4.2rc1/versions.cfg
find-links =
    http://dist.plone.org/thirdparty/
    http://dist.plone.org/release/4.2-latest/

extensions += mr.developer buildout.dumppickedversions
auto-checkout = *

[sources]
collective.recipe.ropeproject = git http://github.com/marciomazza/collective.recipe.ropeproject.git
plone.app.tiles = git https://github.com/plone/plone.app.tiles.git
plone.app.blocks = git https://github.com/plone/plone.app.blocks.git

[versions]

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs = 
    groundwire.tiles
    plone.reload
    Products.Clouseau
    Products.PDBDebugMode
    iw.debug
zcml = iw.debug

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[ropeproject]
recipe = collective.recipe.ropeproject
eggs = ${instance:eggs}

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
